/* GLOBAL CSS ===========================================> */
body, html {
  margin: 0;
  padding: 0;
}

.containerHTML {
  display: flex;
  flex-direction: column;
  margin: 0rem 10rem;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Josefin Sans', sans-serif;
}

/* ASIDE ===================================> */

aside {
  display: none;
}

/* CONTAINER MAIN ==========================> */

.containerMain {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.705) ), url('./images/mainBackground.gif');
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8rem;
}

.containerMain .row {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

.content h1, h3, p, span{
  color: #fff;
  font-style: normal;
  font-weight: normal;
}

.content h1 {
  font-size: 5.5rem;
}

.content h3 {
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
}


/* SCROLL BTN ==========================> */
.scrollBtnDown {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.scrollBtnDown button {
  padding: 0.5rem 1.4rem; 
  border-radius: 50%;
  border: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  cursor: pointer;
  margin: 0rem 4rem;
}

.scrollBtnDown button:hover {
  transform: scale(1.05);
}

.scrollBtnDown h1 {
  font-size: 1.5rem;
  color: #fff;
}

.scrollBtnUp button {
  background-color: #000; 
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25); 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
  padding: 0.5rem 1.4rem; 
  border-radius: 50%;
  border: none;
  cursor: pointer;
}


.scrollBtnDown button, .scrollBtnUp button, #contact, aside {
  outline: none;
  cursor: pointer;
  background-color: #63d471;
  background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
}

.scrollBtnDown button:hover, .scrollBtnUp button:hover, #contact:hover, aside:hover, .buttons button:hover {
  filter: brightness(1.4);
  -webkit-transition: filter 0.5s ease;
  -moz-transition: filter 0.5s ease;
  -o-transition: filter 0.5s ease;
}

button:active {
  transform: scale(.9);
}

.arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


/* CONTAINER PROJECTS =============================> */
.containerProjects {
  display: flex;
  flex-direction: column;
  margin: 5rem 2rem;
}

.containerProjects .project {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  height: 350px;
  width: auto;
  transition: .8s;
}


.containerProjects .project:hover {
  transform: scale(1.02);
}

.containerProjects .project .projectDesc {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 1rem; 
}

.containerProjects .project .projectGif {
  background-image: url('./images/Reisen\ News\ Website\ gif.gif');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70%;
}

.containerProjects .project h2{
  margin: 1rem 0.5rem;
  font-size: 1.5rem;
  color: #000;
}

.containerProjects .project h3 {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 0.5rem;
}

.containerProjects .project h3 img {
  width: auto;
  height: 50px;
  margin: 0rem 1rem;
  transition: 0.8s;
}

.containerProjects .project h3 img:hover {
  transform: scale(1.1);
}

.containerProjects .project .buttons {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: auto;
}

.containerProjects .project .buttons button {
  transition: 0.2s;
}

.containerProjects .project .buttons button:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.containerProjects .project .buttons button, #contact{
  margin: 0rem 0.4rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 0.7rem;
}

#contact {
  color: #fff;
  font-weight: lighter;
}

.containerProjects .project .buttons button:first-child {
  background-color: #36096d;
  background-image: linear-gradient(315deg, #59db59 0%, #5ba72f 74%);
  outline: none;
}

.containerProjects .project .buttons button:nth-last-of-type(1) {
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #c22e3d 0%, #9e1d31 74%);
  outline: none;
}

/* CONTAINER SKILLS =======================> */
.containerSkills {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 4rem;
  transition: 0.5s;
  border-radius: .5rem;
  background-color: rgba(228, 228, 228, 0.39);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  margin: 2rem;
}

.containerSkills:hover {
  transform: scale(1.01);
}

.containerSkills h1 {
  color: #000;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
}

.stackBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.tech {
  width: auto;
  height: 70px;
  margin: 0.5rem .5rem;
  transition: 0.8s;
}


.tech:hover {
  transform: scale(1.1);
}

/* FOOTER ===========================> */
footer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

footer h1 {
  color: #fff;
  font-size: 1.7rem;
}

footer .container {
  display: flex;
  flex-direction: column;
}

footer .container .contactBox {
  background-color: #63d471;
  background-image: linear-gradient(315deg, #3a83439a 0%, #233329 74%);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
}

footer .container .contactBox form {
  display: flex;
  flex-direction: column;
}

footer .container .contactBox form input, textarea {
  height: 2rem;
  margin: .8rem 0rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  outline: none;
}

#submit {
  display: inline;
  
}

textarea {
  height: 150px;
  font-size: 1rem;
}

input {
  font-size: 1rem;
  display: block;
}

footer .container form label{
  font-size: 1rem;
  color: #fff;
}


#submit:active {
  transform: scale(.9);
}

.myInfo {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.myInfo h1, span {
  color: #000;
  margin: 1rem;
}

.myInfo .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

.myInfo #social img {
  margin: 1rem 1rem;
}

.myInfo #social a img {
  width: 50px;
}

.myInfo #social a img:active {
  transform: scale(.9);
}

#owner {
  color: #fff;
  margin-top: 4rem;
  margin-bottom: 0rem; 
}

#downloadCv {
  background-color: #fff;
  border-radius: 0.5rem;
}

#downloadCv:hover {
  text-decoration: underline;
}

/* MEDIA QUERIES =======================> */
@media (max-width: 1100px) {
   .containerHTML {
    margin: 0rem;
  }
}

@media (min-width: 1100px) {
  aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 13rem;
    background-color: #fff;
    padding: 6rem 0.6rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  aside a:first-child {
    margin-bottom: 1rem;
  }

  .fa-linkedin, .fa-github {
    color: #f5f5f5;
  }
}

@media (min-width: 900px) {
  footer {
    padding: 3rem;
  }

  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  footer .container .myInfo #social {
    display: none;
  }

  .containerMain .row .content img {
    width: 500px;
  }

  .contactBox {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .containerSkills .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (max-width: 375px) {
  .containerSkills {
    margin: 2rem 0.5rem;
  }

  .tech {
    height: 50px;
  }
}

@media (max-width: 935px) {
  .containerProjects .project {
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  
  .containerProjects .project .projectDesc {
    width: 100%;
    padding: 3rem 0rem 1rem 0rem;
  }

  .containerProjects .project .projectGif {
    width: 100%;
    padding: 2rem 0rem;
    height: 200px;
  }
}

/* ====================> tooltip */
